<h1>Camper Information</h1>
<h3>Name: <%= @camper.name%></h3><br>
<h3>Age: <%= @camper.age%></h3><br>
<h3>Activities:</h3>
    <ul>
        <%@camper.activities.each do |e|%>
        <li><%= link_to e.name, activity_path(e) %>
            <ul>
            <%e.signups.each do |s|%>
            <li>Signup time: <%=s.su_time%>:00</li>
            <%end%>
            </ul>
        </li>
        <%end%>
    </ul>
<%= button_to  "Delete Camper", camper_path(@camper), method: :delete %>
<%= button_to  "Go Back", campers_path, method: :get %>